function Main.main 1
call WallHandler.initStatics 0
pop temp 0
call PacmanGame.new 0
pop local 0
push local 0
call PacmanGame.run 1
pop temp 0
push local 0
call PacmanGame.dispose 1
pop temp 0
push constant 0
return
