function Utility.SCR_W 0
push static 0
return
function Utility.SCR_H 0
push static 1
return
function Utility.initUtil 0
push constant 64
pop static 0
push constant 23
pop static 1
push constant 0
return
function Utility.mod 1
push argument 0
push argument 1
call Math.divide 2
pop local 0
push argument 0
push argument 1
push local 0
call Math.multiply 2
sub
return
function Utility.between 0
push argument 0
push argument 1
lt
not
push argument 0
push argument 2
gt
not
and
return
function Utility.overlaps 0
push argument 0
push argument 2
push argument 3
call Utility.between 3
push argument 2
push argument 0
push argument 1
call Utility.between 3
or
return
function Utility.stringAppend 2
push argument 0
call String.length 1
push argument 1
call String.length 1
add
call String.new 1
pop local 0
push constant 0
pop local 1
label WHILE_EXP0
push local 1
push argument 0
call String.length 1
lt
not
if-goto WHILE_END0
push local 0
push argument 0
push local 1
call String.charAt 2
call String.appendChar 2
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 1
label WHILE_EXP1
push local 1
push argument 1
call String.length 1
lt
not
if-goto WHILE_END1
push local 0
push argument 1
push local 1
call String.charAt 2
call String.appendChar 2
pop local 0
push local 1
push constant 1
add
pop local 1
goto WHILE_EXP1
label WHILE_END1
push local 0
return
function Utility.stringEquals 2
push argument 0
call String.length 1
push argument 1
call String.length 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push constant 0
pop local 0
push argument 0
call String.length 1
pop local 1
label WHILE_EXP0
push local 0
push local 1
lt
not
if-goto WHILE_END0
push argument 0
push local 0
call String.charAt 2
push argument 1
push local 0
call String.charAt 2
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 1
neg
return
function Utility.outString 0
push argument 0
push argument 1
call Output.moveCursor 2
pop temp 0
push argument 2
call Output.printString 1
pop temp 0
push constant 0
return
function Utility.outStringCenter 2
push argument 1
call String.length 1
pop local 0
call Utility.SCR_W 0
push constant 2
call Math.divide 2
push local 0
push constant 2
call Math.divide 2
sub
pop local 1
push argument 0
push local 1
push argument 1
call Utility.outString 3
pop temp 0
push constant 0
return
function Utility.outInt 0
push argument 0
push argument 1
call Output.moveCursor 2
pop temp 0
push argument 2
call Output.printInt 1
pop temp 0
push constant 0
return
function Utility.outChar 0
push argument 0
push argument 1
call Output.moveCursor 2
pop temp 0
push argument 2
call Output.printChar 1
pop temp 0
push constant 0
return
function Utility.printStringLn 0
push argument 0
call Output.printString 1
pop temp 0
call Output.println 0
pop temp 0
push constant 0
return
